<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Company</h4>
        <ul>
          <li><a href="about-us">About Us</a></li>
          <li><a href="#">Become a Seller</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Terms and Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Resources</h4>
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <p>&copy; 2023 E-commerce Project</p>
    </div>
  </div>
</footer>
