<div class="wrap animate pop">
    <div class="overlay">
        <div class="overlay-content animate slide-left delay-2">
            <h1 class="animate slide-left pop delay-4">Shop smart, shop stylish</h1>
            <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Flashy <em>Finds</em></p>
        </div>
        <div class="image-content animate slide delay-5"></div>
                <div class="dots animate">
                    <div class="dot animate slide-up delay-6"></div>
                    <div class="dot animate slide-up delay-7"></div>
                    <div class="dot animate slide-up delay-8"></div>
                </div>
    </div>
        <div class="text">
            <p><img class="inset" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKLAGKwQ5dyp7DYf6jdkbTuDgLrKNkM5Mfig&usqp=CAU" alt="" />Discover the joy of seamless shopping. Your happiness, our priority. <em>Plantae</em>. All species of trees are grouped by their genus, family, and order. This helps make identifying and studying trees easier.</p>
            <p>At our online store, we've meticulously crafted an environment where your convenience and satisfaction take center stage. Your happiness is not just a consideration; it's our top priority. </p>
            <p>Navigating through our virtual aisles, you'll discover a seamless shopping experience designed to delight.</p>
        </div>
</div>